# Python build artifacts
**/__pycache__/
**/*.py[co]
**/*.egg-info/
**/.eggs/
**/.pytest_cache/

# Git and local IDE configurations
.git/
.gitignore
.github/
.vscode/
.vs/

# Docker blueprints
**/*Dockerfile*
**/.dockerignore
**/docker-compose*

# Local project documentation files
README*
LICENSE*
changelog*
docs/
